<%= form_for @treatment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :doctor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :doctor_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :patient_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :patient_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaints, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :complaints, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anamnesis, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :anamnesis, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diagnosis, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :diagnosis, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tests, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :tests, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diagnosis_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :diagnosis_id, @diagnoses, :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :plandate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :plandate, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                treatments_path, :class => 'btn' %>
  </div>
<% end %>
