<%= simple_form_for @treatment, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.association :doctor %>
  <%= f.association :patient %>

  <%= f.input :complaints, :input_html => { :rows => 5 } %>
  <%= f.input :anamnesis, :input_html => {  :rows => 5 }  %>
  <%= f.input :diagplane, :input_html => { :rows => 5 }  %>
  <%= f.input :tests, :input_html => { :rows => 5 }  %>
  <%= f.input :conclusion, :input_html => { :rows => 5 }  %>

  <%= f.association :diagnosis, :label_method => :code  %>
  <%= f.input :plandate, :as => :string, :input_html => { :class => 'datepicker icon-calendar' } %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                treatments_path, :class => 'btn' %>
  </div>
<% end %>
